body{
    margin: 0;
}
.container{
    width: 400px;
    height: 450px;
    background-color: #59AAD5;
    position: relative;
}
.bottom{
width: 360px;
height: 70px;
top:370px;
background-color: #31C968;
border-top-right-radius: 50%;
position: absolute;
}
.tree {
    width: 320px;
    height: 370px;
    top:0;
    left: 0px;
background-color: #459BB4;
position: absolute;
}
.gan-1{
    top:150px;
    left: 80px;
    height: 220px;
    width: 30px;
    background-color: burlywood;

    position: absolute;
    z-index: 5;
}
.gan-2{
    top:150px;
    left: 60px;
    width: 20px;
    height: 100px;
    background-color: burlywood;
    position: absolute;
    z-index: 6;
    transform: rotate(-20deg);
}
.gan-3{
    top:140px;
    left: 110px;
    width: 20px;
    height: 100px;
    background-color: burlywood;
    position: absolute;
    z-index: 6;
    transform: rotate(20deg);
}   

.ball-1{
    top:40px;
    left: 70px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 0 solid #000;
background-color: #7CF78C;
  position: relative;
  z-index: 50;
}
.ball-2{
    top:10px;
    left: 50px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 0 solid #000;
background-color: #7AF88A;
  position: absolute;
  z-index: 50;
}
.ball-3{
    top:90px;
    left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 0 solid #000;
background-color: #7EFA83;
  position: absolute;
  z-index: 49;
}
.tree-t{
    width: ;
}
.tree-r{
    top:260px;
    right: 40px;
    width: 60px;
    height: 110px;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
background-color: #c37230;
position: absolute;
z-index:1;
}
.tree-b{
    top:290px;
    width:320px;
    height: 80px;
    background-color: #4B9E50;
    position: absolute;
}
.tree-r-t{
    top:10px;
    left: 10px;
    width: 40px;
height: 25px;
border-radius: 20%;
background-color: black;
position: absolute;
z-index: 1;
}
.tree-r-b{
    top:20px;
    left: 10px;
    width: 40px;
    height: 25px;
    background-color: #f29351;
    border-radius: 20%;
    position: absolute;
}


